/* GLOBAL THEME */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: #011330;
  color: #01101d;
}

/* PAGE LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 280px;
  background: #131312;
  border-right: 1px solid #21262d;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #1e74d6;
}

.block {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block label {
  font-size: 13px;
  opacity: 0.8;
}

.sidebar input {
  padding: 10px;
  background: #0d1117;
  border: 1px solid #30363d;
  color: #e6edf3;
  border-radius: 6px;
}

.sidebar button {
  padding: 10px;
  background: #238636;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #2ea043;
}

button.danger {
  background: #da3633 !important;
}

button.danger:hover {
  background: #f85149 !important;
}

/* CHAT AREA */
.chatArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatHeader {
  padding: 16px;
  border-bottom: 1px solid #21262d;
  background: #161b22;
}

.chatHeader h1 {
  margin: 0;
  font-size: 20px;
  color: #79c0ff;
}

/* CHAT LOG */
#log {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #0d1117;
}

.msg {
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  max-width: 75%;
  line-height: 1.4;
}

.msg.sys {
  background: #1f6feb22;
  color: #58a6ff;
  font-style: italic;
}

.msg.me {
  background: #238636; 
  color: #ffffff;
  margin-left: auto;
  border-radius: 10px 10px 0px 10px; 
}

.msg.other {
  background: #30363d;
  color: #e6edf3;
  margin-right: auto;
  border-radius: 10px 10px 10px 0px;
}

.msg .username {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 3px;
}

.chatForm {
  display: flex;
  padding: 12px;
  border-top: 1px solid #21262d;
  background: #161b22;
  gap: 8px;
}

.chatForm input {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  background: #0d1117;
  border: 1px solid #30363d;
  color: #e6edf3;
}

.chatForm button {
  padding: 12px 20px;
  background: #238636;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.chatForm button:hover {
  background: #2ea043;
}


